{% extends "base.html" %}

{% block content %}
{{ super() }}
    {% for user in users %}
    {{ user.id }}. <a href="{{ url_for('user', username=user.username) }}">{{ user.username}}{% if user.admin %}[admin] {% endif %}</a><br>
    <div class=admin>
    {% if user.admin != 1 %}
      <a href="{{ url_for('delete_user', user_id=user.id) }}" onclick="return confirm('Are you sure you want to delete this user? All posts will also be deleted.')">▲DELETE USER</a></div>
    {% endif %}
    <br>
    {% endfor %}
{% endblock %}
