{% extends "base.html" %}

{% block content %}
    <br><br>
    <b>Quick Post</b>
      <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
            {{ form.postbody(cols=45, rows=2, class_='formtext') }}
            {% for error in form.postbody.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br><br>
        {{ form.submit() }}
    </form>
    <h2>Recent posts</h2>
    {% for post in posts %}
    {% include '_post.html' %}
    {% endfor %}
{% endblock %}
